*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body{
    background-color: rgb(16, 16, 15);
    
}
.main{
    width: 100%;
    height: 100vh;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* padding-top: 30px; */
 
   
}
.tittle{
    text-align: center;
    padding: 20px;
    height: 100px;
    width: 100%;
}

h1{
    color: white;
    /* width: 500px; */
    align-self: center;
    font-size: 3rem;
    font-family: 'Sushi Moshi', sans-serif;
                                                
}
.sub-main{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 80%;
    align-items: center;
    justify-content: center;
}
.converter{
   display: flex;
   flex-direction: column;
   border: 1px solid black;
   padding: 10px;
   height: 230px;
   width: 270px;
   justify-content: center;
   box-shadow: 5px 5px 10px rgba(246, 240, 240, 0.382);
   background-color: rgba(149, 119, 111, 0.733);
   border-radius: 30px;
   -webkit-border-radius: 30px;
   -moz-border-radius: 30px;
   -ms-border-radius: 30px;
   -o-border-radius: 30px;
}

select{
    margin: 5px;
    height: 30px;
    padding: 5px;

}

input{
    margin: 5px;
    height: 30px;
    padding: 5px;

}
button{
    height: 30px;
    margin: 5px;
    padding: 5px;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
}

.converter h3{
    margin: 5px;
    color: white;
}

button:hover{
    background-color: black;
    color: white;
}
.rslt{
    border: 1px solid white;
    margin: 5px;
}
@media only screen and (max-width: 600px) {
    h1{
        font-size: 2rem;
    }
  }